.LoggingCard {
  max-width: 320px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.LoggingCard button {
  display: block;
}

.statHolder {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.LoggingCard .logsStat {
  display: inline-block;
}

.LoggingCard .woodStat {
  display: inline-block;
}

.LoggingCard .statHolder .number {
  font-size: 48px;
}
